body{
    font-size: 64px;
    text-align: center;
}
button{
    font-size: x-large;
}
select{
    font-size: x-large; 
}
progress{
    width: 50%;
}
.box{
    padding: 24px;
    margin-left: 240px;
    margin-right: 240px;
    /* position: absolute; */
}
.bar{
    margin-top: -24px;
    /* position: absolute; */
    height: 24px; 
    width: 100%;
    background-color: lightcoral;  
    /* z-index: 2; */
}
.bar2{
    /* top: -24px;  */
    height: 24px; 
    width: 100%;
    background-color:lightgreen;  
    /* z-index: 1; */
}